app_stripe_api_token = "sk_thetoken"
app_stripe_webhook_url = "https://localhost:34522/payments/stripe/webhook-receiver"
app_stripe_customer_portal_privacy_url = "https://localhost:3000/privacy"
app_stripe_customer_portal_header = "Use Miller Billing"
app_stripe_customer_portal_terms_conditions_url = "https://localhost:3000/terms"
app_stripe_customer_portal_return_url = "https://localhost:3000/dashboard"