name: "Lint PR Title"

on:
    pull_request:
        types:
            - opened
            - edited
            - synchronize

jobs:
    main:
        permissions:
            pull-requests: read
        runs-on: ubuntu-latest
        steps:
            # Please look up the latest version from
            # https://github.com/amannn/action-semantic-pull-request/releases
            - uses: amannn/action-semantic-pull-request@e32d7e603df1aa1ba07e981f2a23455dee596825 # v5
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
