name: "Lint PR Title"

on:
    pull_request:
        types:
            - opened
            - edited
            - synchronize

jobs:
    main:
        permissions:
            pull-requests: read
        runs-on: ubuntu-latest
        steps:
            # Please look up the latest version from
            # https://github.com/amannn/action-semantic-pull-request/releases
            - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
