name: PublishRelease
on:
    push:
        branches:
            - main
jobs:
    publish:
        if: false
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
              with:
                  fetch-depth: 0
                  persist-credentials: false
              # we pull the repo course contents outside the docker build to avoid
              # putting ssh keys on the docker layers
            - uses: webfactory/ssh-agent@dc588b651fe13675774614f8e6a936a468676387 # v0.9.0
              with:
                  ssh-private-key: |
                      ${{ secrets.MAC_SETUP_DEPLOY_KEY }}
                      ${{ secrets.NBL_DEPLOY_KEY }}
                      ${{ secrets.USEMILLER_DEPLOY_KEY }}

            - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
              with:
                  node-version-file: ".nvmrc"

            - uses: pnpm/action-setup@v2
              name: Install pnpm
              id: pnpm-install
              with:
                  version: 9.15.9
                  run_install: false
            - name: Get pnpm store directory
              id: pnpm-cache
              shell: bash
              run: |
                  echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
            - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
              name: Setup pnpm cache
              with:
                  path: |
                      ${{ steps.pnpm-cache.outputs.STORE_PATH }}
                      ${{ github.workspace }}/apps/frontend/.next/cache
                  key: ${{ runner.os }}-pnpm-store-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-store-nextjs
            - name: Install dependencies
              run: pnpm install --frozen-lockfile -r
            - run: pnpm run test
            - run: pnpm run build
            - name: Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN_SM }}
              run: npx semantic-release
